@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.sort-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 67px 0 0;
  width: 100%;

  & > .items-number {
    display: none;
    margin-bottom: 40px;
  }

  &-mobile {
    display: none;
  }

  @include tablet {
    display: block;
    margin: 20px 0 0;
    & > .items-number {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-mobile {
      display: flex;
      width: 100%;
      background-color: rgba($primary-green, 0.2);
      & > div {
        &:first-child {
          border-right: 1px solid $dark-grey;
        }

        width: 50%;
        padding: 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        color: $dark-grey;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.4px;
      }
    }
  }

  color: $text;
  font-size: 14px;

  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.4px;

  &-wrapper {
    display: flex;
    align-items: center;
    gap: 32px;

    @include tablet {
      display: none;
    }
  }

  &-filter {
    @include tablet {
      display: none;
    }
    gap: 8px;
    display: flex;
    align-items: center;
    padding: 10px 16px 10px 12px;
    cursor: pointer;
    color: $primary-green;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.1px;
  }
}

.bold {
  font-weight: 700;
}

.sort-by {
  display: flex;
  align-items: center;

  & > .bold {
    margin-right: 5px;
  }
}

.select-mobile {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba($text, 0.6);
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;

  &.active {
    display: flex;
  }

  &-content {
    display: flex;
    flex-direction: column;
    background-color: $white;
    max-width: 370px;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    gap: 10px;
    & > .option {
      border-radius: 4px;
      border: 1px solid #e6e6e6;
      padding: 10px 16px;

      &.active {
        border-color: $primary-green;
        background-color: rgba($primary-green, 0.1);
      }
    }
  }
}
