@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.product-recomended {
  padding-top: 38px;
  border-top: 1px solid $light-grey-300;
  overflow: hidden;
  @include tablet {
    padding: 38px 20px 0;
  }

  &-title {
    color: $text;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    margin-bottom: 38px;
    @include tablet {
      width: 90%;
      margin: 0 auto 20px;
      font-size: 16px;
    }
  }
}

.product-recomended-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @include laptop {
    gap: 24px;
    overflow: scroll;
  }
}
