@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.select {
  display: inline-block;
  position: relative;
  @include tablet {
    display: none;
  }
}

.selected {
  display: flex;
  min-width: 280px;
  align-items: center;
  border: 1px solid $dark-grey;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.selected.active {
  border-color: $primary-green; /* Adjust color when select is active */
}

.selected svg {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.selected.active svg {
  transform: rotate(180deg); /* Rotate arrow icon when select is active */
}

.options-list {
  padding: 8px;

  position: absolute;
  top: 100%;
  left: -5%;
  z-index: 1000;
  display: none;
  flex-direction: column;
  background-color: $white;
  border: 1px solid $light-grey;
  border-top: none;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  box-shadow: $box-shadow;
}

.options-list.active {
  display: flex;
}

.option {
  padding: 8px;
  cursor: pointer;
  white-space: nowrap;
}

.option:hover {
  background-color: $white; /* Adjust background color on hover */
}

.option.selected {
  border-color: $primary-green;
  background-color: rgba($primary-green, 0.2);
  color: $primary-green; /* Adjust text color for selected option */
}

.option.selected svg {
  display: block; /* Show check icon for selected option */
}
