@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.title {
  color: $text;
  text-align: center;

  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.2px;

  @include mobile {
    font-size: 22px;
  }
}
