@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 0 0 18px;
  border-bottom: 1px solid $light-grey-300;

  @include tablet {
    overflow: scroll;
  }
}

.breadcrumb {
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: $dark-grey;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: capitalize;
  text-decoration: none;

  &.last {
    opacity: 0.7;
  }
  & > svg {
    width: 16px;
    height: 16px;
    margin: 2px 8px 0;
  }
}
