@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.continue-guest {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  max-width: 410px;
  width: 100%;
  margin: 30px auto;
  box-shadow: $product-shadow;
  padding: 26px;
  border-radius: 16px;

  @include mobile {
    padding: 26px 13px;
  }
}

.checkout-confirm-wrapper {
  display: flex;
  margin: 40px auto 0;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 960px;

  @include tablet {
    flex-direction: column-reverse;
    gap: 20px;
  }
}

.checkout-confirm-wrapper-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 50%;
  & > .form-input {
    width: 100%;
  }

  @include tablet {
    width: 100%;
  }
}

.checkout-confirm {
  width: 47%;
  border-radius: 16px;
  display: block;
  padding: 40px;

  background-color: $white;
  box-shadow: $product-shadow;

  @include tablet {
    width: 100%;
  }
}
.checkout-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;

  &-text {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 20px;
  }

  & > img {
    width: 93px;
    height: 93px;
    border-radius: 4px;
  }
}

.discount-verification {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 32px 0;
  margin: 16px 0 32px;
  border-top: 1px solid $white-500;
  border-bottom: 1px solid $white-500;
  & > .form-input {
    width: 70%;
  }
  & > button {
    width: 27%;
  }
  @include tablet {
    flex-direction: column;
    gap: 20px;
    & > .form-input {
      width: 100%;
    }
    & > button {
      width: 100%;
    }
  }
}

.checkout-total {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > .price {
    font-weight: 700;
  }
}

.select-delivery-address {
  width: 100%;
  border-radius: 8px;
  display: block;
  padding: 40px;

  background-color: $white;
  box-shadow: $product-shadow;

  & > p {
    color: $text-300;
  }

  & > .info {
    font-weight: 500;
    color: $text;
    font-size: 18px;
  }
}

.checkout-confirm-wrapper-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 49%;
  & > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  @include tablet {
    width: 100%;
  }
}
